$blue: rgb(0, 125, 200);
$light-yellow: rgb(250, 250, 220);
$orange: rgb(240, 175, 75);
$pink: rgb(240, 150, 150);
$error-red: rgb(240, 0, 0);
$black: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, 0.4);

body * {
	font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $light-yellow;
}

.navbar {
	background-color: $orange;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

.nav-left {
	a {
		text-decoration: none;
		margin: 8px;
		padding: 8px;
		color: $black;
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
		border: none;
	}

	a:hover {
		color: $blue;
		text-decoration: underline;
	}
}

.nav-right {
	display: flex;
	align-items: center;

	#nav-log-in-form {
		display: flex;
		flex-direction: row;

		fieldset,
		div {
			display: flex;
			flex-direction: column;
			margin-right: 8px;
		}

		label {
			display: none;
		}

		input {
			border: none;
			margin: 1px;
		}

		button {
			color: $light-yellow;
			font-weight: 600;
			background-color: $blue;
			border: none;
			margin: 1px;
		}

		button:hover {
			background-color: $blue;
		}
	}
}

.welcome-panel {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;

	img {
		display: block;
		width: auto;
		height: 200px;
		margin: 20px 40px;
	}

	div {
		width: 75%;
		margin: 24px;
	}
}

.loading-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
	background-color: $black-transparent;

	h3 {
		position: absolute;
		color: $light-yellow;
	}

	svg {
		height: 256px;
		width: 256px;
	}
}

.preview-posts,
.all-posts,
.user-posts {
	flex: 1;
	width: 100%;
	padding: 24px;
}

.preview-posts {
	display: flex;
	flex-direction: column;

	.grid-container {
		flex: 1;
	}

	.recent-posts {
		text-align: center;
	}

	.view-all {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 400px);
	justify-content: space-evenly;
	grid-gap: 24px;
	margin: 24px 0;
}

.post {
	padding: 12px;
	min-height: 256px;
	flex-basis: 100%;
	flex: 1;
	background-color: $pink;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $black;
	border-radius: 12px;
	border: 2px solid $blue;

	.post-title,
	.post-text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-clamp: 3;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.post-title {
		height: 5.25rem;
	}

	.post-text {
		height: 2.4rem;
		line-clamp: 2;
		-webkit-line-clamp: 2;
	}

	.post-metadata {
		height: 3rem;
	}
}

.post:hover {
	filter: brightness(110%);
}

.author-list {
	flex: 1;
	width: 80%;
	padding: 24px;
}

.author-posts {
	padding: 12px;
	margin-bottom: 12px;
	background-color: $orange;
	border-radius: 8px;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-height: 60px;
		margin-bottom: 12px;
	}

	.container {
		display: block;
		max-height: 0;
		transition: 0.5s ease-in-out;
		overflow: hidden scroll;
		scrollbar-width: thin;
		scrollbar-color: $orange $blue;
		background-color: $blue;
	}

	.container.expand {
		max-height: 400px;
	}
}

.post-simple {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 4px;
	margin: 8px;
	background-color: $pink;
	text-decoration: none;
	color: $black;
	border-radius: 4px;

	.post-title,
	.post-metadata {
		margin: 0 12px;
	}

	.post-title {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.post-simple:hover {
	filter: brightness(110%);
}

.post-details {
	width: 80%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}

.post-full {
	min-height: 256px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	color: $black;

	.post-info {
		margin: 12px;
		padding: 12px;
		background-color: $pink;
		border-radius: 12px;
		border-top: 2px solid $blue;
		border-bottom: 2px solid $blue;

		.post-metadata {
			margin-bottom: 24px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			.right {
				margin-left: 24px;
				text-align: right;
			}
		}
	}

	.post-content {
		margin: 12px;
	}

	.post-text {
		padding: 12px;
		background-color: $pink;
		border-radius: 12px;
		border-top: 2px solid $blue;
		border-bottom: 2px solid $blue;
	}
}

.comment-section {
	width: 100%;
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-comment {
}

.comment-list {
	display: grid;
	grid-template-columns: repeat(4, 300px);
	justify-content: space-evenly;
	grid-gap: 12px;
	margin: 24px 0;
}

@media only screen and (min-width: 1440px) {
	.comment-list {
		grid-template-columns: repeat(4, 300px);

		> :nth-child(4n + 1) {
			margin-bottom: 24px;
		}

		> :nth-child(4n + 2) {
			margin-top: 8px;
			margin-bottom: 16px;
		}

		> :nth-child(4n + 3) {
			margin-top: 16px;
			margin-bottom: 8px;
		}

		> :nth-child(4n + 4) {
			margin-top: 24px;
		}
	}
}

@media only screen and (min-width: 1200px) and(max-width: 1440px) {
	.comment-list {
		grid-template-columns: repeat(3, 300px);

		> :nth-child(3n + 1) {
			margin-bottom: 16px;
		}

		> :nth-child(3n + 2) {
			margin-top: 8px;
			margin-bottom: 8px;
		}

		> :nth-child(3n + 3) {
			margin-top: 16px;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.comment-list {
		grid-template-columns: repeat(2, 300px);

		> :nth-child(2n + 1) {
			margin-bottom: 8px;
		}

		> :nth-child(2n + 2) {
			margin-top: 8px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.comment-list {
		grid-template-columns: repeat(1, 300px);
	}
}

.comment {
	padding: 4px;
	border-radius: 4px;
	background-color: $orange;
	border-left: 2px solid $blue;
	border-right: 2px solid $blue;

	.p {
		padding: 4px;
	}

	.comment-edit-controls {
		float: right;
	}

	#edit-comment-form {
	}
}

.button-link {
	text-decoration: none;
	margin: 8px;
	padding: 8px;
	background-color: $blue;
	color: $light-yellow;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	border: none;
	border-radius: 4px;
}

.button-link:hover {
	filter: brightness(110%);
}

.button-submit {
	text-decoration: none;
	margin: 8px;
	padding: 8px;
	background-color: $blue;
	color: $light-yellow;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	border: none;
	border-radius: 4px;
}

.button-submit:hover {
	filter: brightness(110%);
}

.error-list {
}

.error-msg {
}

.footer {
	width: 100%;
	padding: 12px;
	text-align: center;
	background-color: $black;
	color: white;
}
